.container {
  width: 100%;
  background-color: chartreuse;
  color: darkslategrey;
  text-align: center;
}

.container h1 {
  text-align: center;
  color: inherit;
}
/*# sourceMappingURL=header.css.map */